

        #formulario {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;

        }

        
        #container {
            position: relative;
            width: 850px;
            height: 550px;
            background: var(--color-light-50);
            border-radius: 50px;
            box-shadow: 0 0 30px rgba(0, 0, 0, .2);
            overflow: hidden;
            margin: 20px;
        }

        .form-header{
            display: flex;

            align-items: center; /* Alinha o I*/
            justify-self: center; /* Bota o content no mei*/
            justify-content: center; /* Bota os itens do content no mei*/
            
            width: 100%;
            
        }

        .form-header h2 {
            font-size: 36px;
            margin: -10px 0;
            color: var(--color-dark-500);
        }

        .form-header i {
            font-size: 25px;
            margin-top: 5px;
            position: absolute;
            transform: translateX(145px);
            cursor: pointer;
            color: rgb(221, 163, 55);
        }

        .form-box {
            position: absolute;
            right: 0;
            width: 50%;
            height: 100%;
            background: var(--color-light-50);
            display: flex;
            align-items: center;
            color: var(--color-dark-500);
            text-align: center;
            padding: 40px;
            z-index: 1;
            transition: .6s ease-in-out 1.2s, visibility 0s 1s;
        }

        #container.active .form-box {
            right: 50%;
        }

        .form-box.cadastro{
            visibility: hidden;
        }

        #container.active .form-box.cadastro{
            visibility: visible;
        }

        form{
            width: 100%;
        }

        #container h1 {
            font-size: 36px;
            margin: -10px 0;
            color: var(--color-light-50);
        }

        .input-box {
            position: relative;
            margin: 30px 0;
        }

        .input-box input {
            width: 100%;
            padding: 13px 50px 13px 20px;
            background: none;
            border: none;
            border-bottom: 1px solid var(--color-dark-500);
            outline: none;
            letter-spacing: 2px;
            font-size: 16px;
            color: var(--color-dark-500);
            font-weight: 500px;
        }

        .label-input{
            position: absolute;
            top: 0px;
            left: 0px;
            pointer-events: none;
            transition: .5s;
        }

        .input-box input:focus ~ .label-input,
        .input-box input.has-value ~ .label-input{
            top: -20px;
            font-size: 12px;
        }

        .input-box i {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            color: var(--color-dark-100);
        }

        .error {
            color: var(--color-primary-1);
            font-size: 11px;
            max-width: 180px;
        }
        
        .input-box.invalid input:focus ~ .label-input,
        .input-box.invalid input.has-value ~ .label-input,
        .input-box.invalid input ~ .label-input{
            color:  var(--color-primary-1);
        }
        
        .input-box.invalid input {
            border-bottom: 1px solid var(--color-primary-1);
        }
        
        .input-box.invalid i {
            color: var(--color-primary-1);
        }

        .input-box.valid input:focus ~ .label-input,
        .input-box.valid input.has-value ~ .label-input,
        .input-box.valid input ~ .label-input{
            color: var(--color-primary-2);
        }
        
        .input-box.valid input{
            border-bottom: 1px solid var(--color-primary-2);
        }
        
        .input-box.valid i {
            color: var(--color-primary-2);
        }



        .forgot-link {
            margin: -15px 0px 15px;
        }

        .forgot-link a {
            font-size: 14.5px;
            color: var(--color-dark-500);
            text-decoration: none;
        }

        .forgot-link a:hover {
            color: var(--color-blue-50);
        }

        .btn {
            width: 50%;
            height: 40px;
            background: var(--color-blue-50);
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            border: none;
            cursor: pointer;
            font-size: 16px;
            color: var(--color-light-50);
            font-weight: 600;
            transition: 0.2s ease-in-out;
        }

        .btn:hover{
            scale: calc(1.1);
        }

        #container p {
            font-size: 14.5px;
            margin: 15px 0;
        }

        .social-icons {
            display: flex;
            justify-content: center;
        }

        .social-icons a {
            display: inline-flex;
            padding: 10px;
            border: 2px solid var(--color-dark-50);
            border-radius: 8px;
            font-size: 24px;
            color: var(--color-dark-500);
            text-decoration: none;
            margin: 0px 8px;
            transition: 0.2s ease-in-out;
        }

        .social-icons a:hover{
            border: 2px solid var(--color-blue-100);
            color: var(--color-blue-50);
            scale: calc(1.2);
        }

        .toggle-box {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .toggle-box::before {
            content: '';
            position: absolute;
            width: 300%;
            height: 100%;
            background: var(--color-blue-50);
            z-index: 2;
            left: -250%;
            border-radius: 150px;
            transition: 1.8s ease-in-out;
        }

        #container.active .toggle-box::before {
            left: 50%;
        }
        .toggle-panel {
            position: absolute;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--color-light-50);
            z-index: 2;
            transition: .6s ease-in-out 1.2s, visibility 0s 1s;
        }

        .toggle-panel.toggle-left {
            left: 0;
            transition-delay: 1.2s;
        }

        #container.active .toggle-panel.toggle-left {
            left: -50%;
            transition-delay: .6s;
        }

        .toggle-panel.toggle-right {
            right: -50%;
            transition-delay: .6s;
        }

        #container.active .toggle-panel.toggle-right {
            right: 0;
            transition-delay: 1.2s;
        }

        .toggle-panel p {
            margin-bottom: 20px;
        }

        .toggle-panel .btn {
            width: 140px;
            height: 42px;
            background: transparent;
            border: 2px solid var(--color-light-50);
            box-shadow: none;
        }

        @media screen and (max-width:650px){
            #container {
                height: calc(100vh - 40px);
            }

            .form-box {
                bottom: 0;
                width: 100%;
                height: 70%;
            }

            #container.active .form-box {
                right: 0;
                bottom: 30%;
            }

            .toggle-box::before {
                left: 0;
                top: -270%;
                width: 100%;
                height: 300%;
                border-radius: 20vw;
            }

            #container.active .toggle-box::before {
                left: 0;
                top: 70%;
            }

            .toggle-panel {
                width: 100%;
                height: 30%;
            }

            .toggle-panel.toggle-left {
                top: 0;
            }

            #container.active .toggle-panel.toggle-left {
                left: 0;
                top: -30%;
            }

            .toggle-panel.toggle-right {
                right: 0;
                bottom: -30%;
            }

            #container.active .toggle-panel.toggle-right {
                bottom: 0;
            }
        }

        @media screen and (max-width:650px){

            .form-box {
                padding: 20px;
            }

            .toggle-panel p {
                font-size: 30px;
            }
        }

        @media screen and (max-width:390px){

            .form-box {
                padding: 20px;
            }

            .toggle-panel p {
                font-size: 22px;
            }
        }

        @media screen and (max-height:830px){

            .error {
                display: none;
            }
        }

        @media screen and (max-height:740px){

            .input-box input {
                padding: 8px 50px 13px 20px;
                font-size: 14px;
            }

            .social-icons a {
                padding: 8px;
                font-size: 20px;
            }

            .form-header h2 {
                font-size: 32px;
            }

            #container h1 {
                font-size: 32px;
                letter-spacing: 1.5px;
            }
        }