/* OVERLAY   */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 999;
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* MODAL */
.modal-box {
  background: var(--color-light-50);
  padding: 40px;
  border-radius: 50px;
  text-align: center;
  width: 320px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  transform: translateY(20px);
  transition: 0.3s ease;
}

.modal-overlay.active .modal-box {
  transform: translateY(0);
}

.modal-box i {
    font-size: 100px;
    color: var(--color-primary-2);
}

/* TEXTO */
.modal-box h2 {
  margin: 10px 0;
  font-size: 22px;
  color: var(--color-dark-500);
}

.modal-box p {
  font-size: 15px;
  color: var(--color-dark-100);
  margin-bottom: 20px;
}

/* BUTÃO */
.modal-box button {
    border: none;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-2);
    border-radius: 12px;
    padding: 12px 22px;
    color: var(--color-light-50);
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all .3s ease-in-out;
    
}

.modal-box button:hover {
  filter: brightness(1.05);
  scale: calc(1.1);
}


@keyframes drawCircle {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  to {
    stroke-dashoffset: 0;
  }
}

/* MODAL */
/* OVERLAY   */
.modal-overlay-error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 999;
}

.modal-overlay-error.active {
  opacity: 1;
  pointer-events: all;
}

.modal-box-error {
  background: var(--color-light-50);
  padding: 40px;
  border-radius: 50px;
  text-align: center;
  width: 320px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  transform: translateY(20px);
  transition: 0.3s ease;
}

.modal-overlay-error.active .modal-box-error {
  transform: translateY(0);
}

.modal-box-error i {
    font-size: 100px;
    color: var(--color-primary-5);
}

/* TEXTO */
.modal-box-error h2 {
  margin: 10px 0;
  font-size: 22px;
  color: var(--color-dark-500);
}

.modal-box-error p {
  font-size: 15px;
  color: var(--color-dark-100);
  margin-bottom: 20px;
}

/* BUTÃO */
.modal-box-error button {
    border: none;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 12px;
    padding: 12px 22px;
    color: var(--color-light-50);
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all .3s ease-in-out;
    
}

.modal-box-error button:hover {
  filter: brightness(1.05);
  scale: calc(1.1);
}
