@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('formulario.css');
@import url('modal.css');
@import url('dark.css');

:root {
    

    --color-blue-50: rgb(58, 58, 158); 
    --color-blue-70: rgb(80, 80, 156); 
    --color-blue-100:rgb(118, 118, 212); 

    --color-blue-500: rgb(44, 44, 109); 
    --color-blue-700: rgb(60, 60, 122); 
    
    --color-gradient-1: linear-gradient(90deg, var(--color-blue-50), var(--color-blue-70), var(--color-blue-100));

    --color-primary-1: #dc2626; /* Inv치lido */
    --color-primary-2: #22c55e; /* V치lido */

    --color-primary-3: #881818; /* Inv치lido-Dark */
    --color-primary-4: #16803d; /* V치lido-Dark */

    --color-primary-5: #e0741c; /* Opa */
    --color-primary-6: rgb(173, 99, 13); /* Opa-Dark */    

    --color-light-50: #f8fafc;
    --color-light-60: #eeeff7; /* Cor de Fundo */
    --color-light-200: #ccc;
    

    --color-dark-50: #797984;
    --color-dark-100: #636363;
    --color-dark-500: #312d37; 
    --color-dark-800: #161616;
    --color-dark-900: #000;
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-light-60);
    overflow-x: hidden;
}

section {
    padding: 28px 8%;
}


.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark-100);
    border-radius: 12px;
    padding: 12px 16px;
    color: var(--color-light-50);
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: var(--color-light-200);
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-light-50);
    font-size: 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-blue-50);;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: var(--color-light-60);
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
} 

